/* navbar css is below */

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: #6accae;
    justify-content: space-around;
    align-items: center;
    color: black;
    margin: -10px;
}

.nav-bar a:hover{
    color: white;
}

.nav-bar-link{
    display: flex;
    flex-direction: row;
    padding: 0%;
    justify-content: space-around;
    float: left;
    color: black;
    font-size: medium;
    
}

/* homepage css is below */

.home-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-page{
    background-image: url('images/compressed-green-controller.png');
    background-repeat: no-repeat;
    background-size: 100%, 70%;
    padding: 10%;
    text-align: center;
    color: white;
    font-size: 250%;
    margin: -10px;
}

.p-attribution{
    color: rgb(156, 0, 0);
}

.p-attribution a{
    color: rgb(0, 17, 255);
}

/* "how" page css is below */

.how-content{
    display: flex;
    flex-direction: column;

}

.how-section{
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-around;
    
}

.how-image img{
    width: 200px;
    height: 200px;
}

.how-p-div{
    width: 50%;
}

/* "about" page css is below */

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;

}

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 100%;
    padding: 5%;
}

.about-section-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #666666;
    color: #ffffff;
    width: 33%;
    height: 100%;
    padding: 5%;
}

.about-content img{
    width: 200px;
    height: 200px;
}

/* events css is below */

.events-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.events-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.events-div img{
    width: 200px;
    height: 200px;
}

/* gerneral css is below */

body{
    background-color: #f1fff7;
}

a{
    color: black;
    font-size: 150%;
    text-decoration: none;
}

text{
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 30%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    animation-duration: 2s;
}

p{
    font-size: 150%;
}

h2{
    text-align: center;
    font-size: 250%;
}

h3{
    text-align: center;
}

/* attemped css animation */

@keyframes img-animation {
    0% {border-color: black;}
    100% {border-color: white;}
}