.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: grey;
    justify-content: space-around;
    align-items: center;
}

.nav-bar a:hover{
    color: white;
}

.nav-bar-links{
    display: flex;
    flex-direction: row;
    padding: 0%;
    justify-content: space-around;
    float: left;
}

img{
    width: 10%;
}

p{
    word-wrap: normal;
    margin: 1%;
    width: 40%;
}

.home-content{
    display: flex;
    flex-direction: column;
}

.hero-page{
    background-image: url('images/play-station-controller.jpg');
    background-repeat: no-repeat;
    background-size: 2000px, 700px;
    padding: 10%;
    text-align: center;
    color: white;
}

.how-section{
    display: flex;
    flex-direction: column;
}

.how-content{
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: row;
    justify-content:space-around

}

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.events-content{
    border-radius: 2px;
    border-color: black;
    margin: 2%;
}