/* navbar css is below */

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: #6accae;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.nav-bar a:hover{
    color: white;
}

.nav-bar-link{
    display: flex;
    flex-direction: row;
    padding: 0%;
    justify-content: space-around;
    float: left;
    color: black;
    font-size: medium;
    
}

/* homepage css is below */

.home-content{
    display: flex;
    flex-direction: column;
}

.hero-page{
    background-image: url('images/compressed-green-controller.png');
    background-repeat: no-repeat;
    background-size: 100%, 70%;
    padding: 10%;
    text-align: center;
    color: white;
}

/* "how" page css is below */

.how-content{
    display: flex;
    flex-direction: column;
    size: 120%;
}

.how-section{
    display: flex;
    flex-direction: row;
    
}

.how-image img{
    width: 200px;
    height: 200px;
}

/* "about" page css is below */

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* events css is below */

.events-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.events-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.events-div img{
    width: 200px;
    height: 200px;
}

/* gerneral css is below */

body{
    background-color: #f1fff7;
}

a{
    color: black;
    font-size: 150%;
    text-decoration: none;
}

text{
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 30%;
}

p{
    font-size: 150%;
}